@import "./mixins/mixin.typography.scss";
@import "./mixins/mixin.breakpoint.scss";

html,
* {
	@include roboto-regular;
}

html {
	width: 100%;
	overflow-x: hidden;
}

.wrapper {
	@include make-container();
	@include make-container-max-widths();

	@include media-breakpoint-down(sm) {
		padding: 0 15px;
	}
}

main {
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 130px;
	padding-bottom: 220px;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
	cursor: default;

	&.fill {
		font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
	}
}

.under-development-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	
	h1 {
		@include roboto-medium;
		@include setFontSize(30);

		color: $gray;
		text-align: center;
	}
}