.custom-input {
	box-shadow: rgba($black, 0.04) 0px 4px 16px;
	border-radius: 10px;
	background-color: $white;
	padding: 18px 20px;
	margin-bottom: 20px;

	label {
		@include roboto-bold;
		@include setFontSize(14);

		color: $gray-dark;
		display: block;
		margin: 0px 0px 10px;
	}

	input {
		@include setFontSize(14);

		color: $gray;
		border: none;
		outline: none;
		width: 100%;
	}
}

button {
	.material-symbols-outlined {
		cursor: pointer;
	}
}

button.btn,
a.btn {
	@include roboto-bold;

	color: $white;
	background-color: $green;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	min-height: 44px;
	padding: 5px 30px;
	transition: all 0.25s ease 0s;

	&:hover {
		box-shadow: rgba($black, 0.3) 2px 2px 8px 0px;
	}

	&.btn-sm {
		min-height: 35px;
	}

	&.btn-rounded {
		border-radius: 999px;
	}
}

button.btn-block,
a.btn-block {
	justify-content: center;
	width: 100%;
}

.custom-select {
	display: flex;

	select.select {
		flex: 1 0;
	}
}

.number-input {
	$bg-color: rgba($gray, 0.2);

	border: 1px solid $bg-color;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	height: 30px;
	overflow: hidden;

	.quantity-input {
		flex: 1 0;

		input {
			text-align: center;
			line-height: 28px;
			width: 100%;
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&:focus-visible {
				outline: none;
			}
		}
	}

	button {
		color: $gray;
		background-color: $bg-color;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 0 30px;
		max-width: 30px;
		cursor: pointer;

		&:hover {
			color: $white;
			background-color: $green;
		}
	}

	.material-symbols-outlined {
		@include setOnlyFontSize(20);

		cursor: pointer;
	}
}

.material-input {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 12px;

	label {
		min-width: 110px;
		color: $gray;
	}

	input {
		border-bottom: 1px solid rgba($gray, 0.3);
		width: 100%;

		&:focus-visible {
			outline: none;
		}
	}
}
