.detail-page {
	.page-title {
		@include roboto-medium;
		@include setFontSize(24);

		color: $dark;
		margin: 0 0 20px;
	}

	.prod-information,
	.product-detail {
		background-color: $white;
		border-radius: 8px;
		padding: 40px 58px;

		@include media-breakpoint-down(sm) {
			padding: 25px 15px;
		}
	}

	.prod-information {
		display: flex;
		gap: 45px;
		margin-bottom: 30px;

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@include media-breakpoint-down(sm) {
			gap: 20px;
		}

		.prod-images-slide {
			flex: 1 0;
			max-width: 400px;

			@include media-breakpoint-down(sm) {
				max-width: 100%;
			}
		}

		#main-carousel {
			margin-bottom: 10px;
		}

		.prod-info {
			flex: 1 0;

			@include media-breakpoint-down(sm) {
				flex: 1 0 100%;
			}

			.prod-category {
				color: $gray;
			}

			.prod-name {
				@include roboto-medium;
				@include setFontSize(28);

				margin-bottom: 12px;
			}

			.prod-price {
				@include roboto-medium;

				color: $orange;
				margin-top: 12px;
			}

			.prod-quantity {
				display: flex;
				align-items: center;
				gap: 20px;
				margin-top: 26px;

				@include media-breakpoint-down(sm) {
					margin-top: 15px;
				}
			}

			.prod-action {
				margin-top: 32px;
				display: flex;
				gap: 32px;

				@include media-breakpoint-down(sm) {
					flex-wrap: wrap;
					gap: 15px;
				}
			}
		}
	}

	.product-detail {
		.detail-item {
			h2 {
				@include roboto-medium;
				@include setFontSize(24);

				color: $dark;
				text-transform: uppercase;
				padding: 20px;
				position: relative;

				&::before {
					content: "";
					background-color: $green;
					display: block;
					width: 4px;
					height: 28px;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
			}
		}
	}

	.splide__slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
