doctype html
include ../mixins/forms
html(lang=lang)
	include ../includes/head
	body
		.page-wrapper#page-wrapper
			include ../components/header
			block content
			include ../components/footer
		include ../includes/script