header.header#header
    .wrapper.mx-auto
        .site-logo 
            a(href="/").site-link
                img(src="/images/logo.svg" alt="Site logo")
        .header-menu 
            nav.menu
                - var menus = [ { label: __('menu.homepage'), link: '/' }, { label: __('menu.store'), link: '/store' }, { label: __('menu.user_manual'), link: '/instruction' } ]
                each menu in menus
                    .menu-item 
                        a(href=menu.link, class=menu.class ? menu.class + 'menu-link' : 'menu-link') #{menu.label}
                .menu-item.login
                    button(type="button").btn.btn-sm.btn-rounded.btn-login #{__('menu.login')}
            ul.locales
                li
                    a(href="/change-lang/en")
                        img(src="/images/flag-usa.png" alt="alt")
                li
                    a(href="/change-lang/th")
                        img(src="/images/flag-thai.png" alt="alt")
        button(type="button" class="btn-open-menu") 
            svg(aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
